<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}

</head>
<body>
  {{>navbar}}
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_left">
                    <figure>
                        <img src="imgs/about.jpg" alt="praja" class="fluid" title="Praja, the Techie" >
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weathery!</p>
                    <h1>Know your city's <span class="text">accurate weather</span> with the help of this website</h1>
                    <a href="/weather"><button>Know Yours!</button></a>
                </div>
            </div>
        </div>
    </div> 
</div>

{{>footer}}
</body>
</html>