<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinks}}
    
</head>
<body>
  {{>navbar}}
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-12 col-12 main_header_left ">
                <div class="main_content">
                <form class="formtemp">
                    <input type="text" id="cityname" placeholder="Enter you City name" autocomplete="off">
                    <input type="submit" value="search" id="submitbtn">
                </form>
             </div>
             <div class="tempinfo">
                <div class="toplayer">
                    <p id="day">Tuesday</p>
                    <p id="todaydata">26 Jul 2022</p>
                </div>
                <div class="main-layer">
                    <p id="city_name">Get Weather Details</p>
                    <div class="middle-layer">
                        <p id="temp"><span>0</span><sup>o</sup>C</p>
                        <p id="tempstatus"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                </div>
             </div>
            </div>
        </div>
    </div> 
</div>

{{>footer}}

<script src="js/main.js"></script>
</body>
</html>